.count
{
    position:absolute;
    top:11px;
    right:200px;
}
.centermessage
{
    width : 100%;
    margin-left : 25%;
    margin-top:150px;
    
}
.greencircle
{
    width:200px;
    height:200px;
    background-color: rgb(46, 238, 46);
    border-radius: 50%;
    margin-left:20%;
}
.confirmhead
{
      font-size: 50px;
    
    margin-bottom:0;
}
.checkmark
{
    font-size:80px;
    color:white;
    position:absolute;
    top:220px;
    left:50%;
}
.confirmmessage
{
    font-size:30px;
    letter-spacing:1px;
    margin-top:0;
    opacity:0.7;
}