
.topbar
{
    width:100%;
}
.count
{
    width:20px;
    
    border-radius:50%;
    background-color:teal;
    color:rgb(223, 204, 204);
    position : fixed;
    top:10px;
    right:200px;
    font-size:18px;
    text-align:center;
}
.checkhead
{
    margin-top: 10%;
    margin-left: 80px;
    font-size:40px;
    letter-spacing:2px;
    opacity:0.8;
    
    text-transform:uppercase;
}
.checkpara
{
    font-size:30px;
    margin-left:80px;
}
.mainsection
{
    display:flex;
   margin-left:7%;
}
.ordered-items
{
    margin-bottom:15px;
    
}
.orderedcard
{
    width:550px;
    height:160px;
    box-shadow:2px 2px 8px #eee;
    box-sizing:border-box;
    margin-bottom:15px;
    
}
.costcard
{
  margin-left:40px;
    width:500px;
    height:250px;
    box-shadow :4px 4px 10px #eee;
}
.cardtotal
{
    font-size:30px;
    margin-left:30px;
}
.cardcost
{
    font-size:25px;
    margin-left:30px;
}
.cardplace
{
    padding:10px;
    font-size:22px;
    background-color:teal;
    color:white;
    margin-left:30px;
    outline:none;
    border:none;
    border-radius:10px;
}
.cardprice
{
    font-weight:600;
    font-size:26px;
    letter-spacing : 1px;
}
.orderedcard{
    display:flex;
   
}
.orderimage
{
    width:100%;
  border-radius:10px;
    box-sizing: border-box;
    margin-top:15px;
    margin-left:15px;
  
}
.orderimg
{
    width:100px;
    height:60px;
    margin:0;

    box-sizing:border-box;

}
.orderdetails
{
    margin-left:35px;
}



